@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.scroll-content {
  display: inline-block; 
}

.item {
  display: inline-block;
  width: 100vw; 
  height: 100vh;
  scroll-snap-align: start;

}
